<h1>测试中心</h1>
<lib name='jquery' />
<a href=href="?c=org.opencomb.frameworktest.ui.xhtml.compiler.node.BreakCase">&ltbreak><br/></a>
<a href=href="?c=org.opencomb.frameworktest.ui.xhtml.compiler.node.IfCase">&ltif><br/></a>
<a href=href="?c=org.opencomb.frameworktest.ui.xhtml.compiler.node.LoopCase">&ltloop><br/></a>
<a href=href="?c=org.opencomb.frameworktest.ui.xhtml.compiler.node.ForeachCase">&ltforeach><br/></a>
<a href=href="?c=org.opencomb.frameworktest.ui.xhtml.compiler.node.ForeachElseCase">&ltforearelse><br/></a>
<a href=href="?c=org.opencomb.frameworktest.ui.xhtml.compiler.node.BreakCompilerCase">&ltif><br/></a>
<a href=href="?c=org.opencomb.frameworktest.ui.xhtml.compiler.node.BreakCompilerCase">&ltif><br/></a>
<a href=href="?c=org.opencomb.frameworktest.ui.xhtml.compiler.node.BreakCompilerCase">&ltif><br/></a>
<a href=href="?c=org.opencomb.frameworktest.ui.xhtml.compiler.node.BreakCompilerCase">&ltif><br/></a>
<a href=href="?c=org.opencomb.frameworktest.ui.xhtml.compiler.node.BreakCompilerCase">&ltif><br/></a>
<a href=href="?c=org.opencomb.frameworktest.ui.xhtml.compiler.node.BreakCompilerCase">&ltif><br/></a>
<a href=href="?c=org.opencomb.frameworktest.ui.xhtml.compiler.node.BreakCompilerCase">&ltif><br/></a>
<a href=href="?c=org.opencomb.frameworktest.ui.xhtml.compiler.node.BreakCompilerCase">&ltif><br/></a>







<h2>MVC 模式</h2>
	
	<h3>视图</h3>
		<a href="?c=org.opencomb.frameworktest.mvc.view.aggctlrview.ParentController">显示子控制器的视图</a>
	
	<h3>模型</h3>	
		<a href="?c=org.opencomb.frameworktest.mvc.model.AutoGeneratePrimaryValue">自动生成主键值</a>
		
	<h3>控制器</h3>
		<a href="?c=org.opencomb.frameworktest.mvc.controller.CheckIfUserRequest">检查是否由用户调用</a>
