<h2>表单控件</h2>
<msgqueue/>
<form method="post">
	<table>
		<tr>
			<th>Email校验器</th>
			<th>文件类型校验器(FileExt)</th>
			<th>文件大小校验器(FileSize)</th>
			<th>图片面积校验器(ImageArea)</th>
			<th>图片宽高校验器(ImageSize)</th>
			<th>字符长度校验器(Length)</th>
			<th>校验内容为空(notempty)</th>
		</tr>
		<tbody>
		<tr>
			<td><widget id="test_email"/></td>
			<td><widget id="test_fileext"/></td>
			<td><widget id="test_filesize"/></td>
			<td><widget id="test_imageArea"/></td>
			<td><widget id="test_imagesize"/></td>
			<td><widget id="test_length"/></td>
			<td><widget id="test_notempty"/></td>
		</tr>
		</tbody>
		<tr>
			<th>数字校验器(int)</th>
			<th>数字校验器(Number)</th>
			<th>数字校验器(float)</th>
			<th>内容一致性效验(password)</th>
			<th>内容一致性效验(Repeatpassword)</th>
			<th>版本校验(Version)</th>
		</tr>
		<tbody>
		<tr>
			<td><widget id="test_int"/></td>
			<td><widget id="test_number"/></td>
			<td><widget id="test_float"/></td>
			<td><widget id="test_password"/></td>
			<td><widget id="test_RepeatPassword"/></td>
			<td><widget id="test_version"/></td>
		</tr>
		</tbody>
	
	</table>
	<input type="submit" value="提交"/>
</form>