<h2>表单控件</h2>
<table>
	<tr>
		<th>单选按钮</th>
		<th>多选按钮</th>
		<th>文件上传</th>
		<th>select</th>
		<th>selectlist</th>
		<th>text</th>
		<th>password</th>
		<th>文本域</th>
	</tr>
	<tbody>
	<tr>
		<td><widget id="test_check"/></td>
		<td><widget id="test_radio"/></td>
		<td><widget id="test_file"/></td>
		<td><widget id="test_select"/></td>
		<td><widget id="test_selectlist"/></td>
		<td><widget id="test_text"/></td>
		<td><widget id="test_password"/></td>
		<td><widget id="test_miltiple"/></td>
	</tr>
	</tbody>
</table>