<h2>测试中心</h2>
<lib name='jquery' />
<a href=href="?c=org.opencomb.frameworktest.testtemplate.node.BreakCase">&ltbreak><br/></a>
<a href=href="?c=org.opencomb.frameworktest.testtemplate.node.IfCase">&ltif><br/></a>
<a href=href="?c=org.opencomb.frameworktest.testtemplate.node.LoopCase">&ltloop><br/></a>
<a href=href="?c=org.opencomb.frameworktest.testtemplate.node.ForeachCase">&ltforeach><br/></a>
<a href=href="?c=org.opencomb.frameworktest.testtemplate.node.ForeachElseCase">&ltforearelse><br/></a>
<a href=href="?c=org.opencomb.frameworktest.testtemplate.node.LoopElseCase">&ltloopelse><br/></a>
<a href=href="?c=org.opencomb.frameworktest.testtemplate.node.DoElseCase">&ltdoelse><br/></a>
<a href=href="?c=org.opencomb.frameworktest.testtemplate.node.WhileCase">&ltwhile><br/></a>
<a href=href="?c=org.opencomb.frameworktest.testtemplate.node.DoWhileCase">&ltdowhile><br/></a>
<a href=href="?c=org.opencomb.frameworktest.testtemplate.node.IncludeCase">&ltinclude><br/></a>
<ui>
	<li>
	vars属性无效
	</li>
</ui>
<a href=href="?c=org.opencomb.frameworktest.testtemplate.node.FunctionCase">&ltfunction><br/></a>
<a href=href="?c=org.opencomb.frameworktest.testtemplate.node.ContinueCase">&ltcontinue><br/></a>
<ui>
	<li>
	@匿名属性无效
	</li>
</ui>
<a href=href="?c=org.opencomb.frameworktest.testtemplate.node.ScriptCase">&ltscript><br/></a>
<a href=href="?c=org.opencomb.frameworktest.testtemplate.node.CssCase">&ltcss><br/></a>
<a href=href="?c=org.opencomb.frameworktest.testtemplate.node.BreakCompilerCase">&ltjs><br/></a>
<a href=href="?c=org.opencomb.frameworktest.testtemplate.node.SubTemplateDefineCase">&ltsubtemplateDefine><br/></a>
<a href=href="?c=org.opencomb.frameworktest.testtemplate.node.SubTemplateCallCase">&ltsubtemplateCall><br/></a>
<ui>
	<li>
	vars属性无效
	</li>
</ui>
<a href=href="?c=org.opencomb.frameworktest.testtemplate.node.NlCase">&ltnl><br/></a>
<ui>
	<li>
	&ltnl>无效
	</li>
</ui>
<a href=href="?c=org.opencomb.frameworktest.testtemplate.node.ClearCase">&ltclear><br/></a>
<a href=href="?c=org.opencomb.frameworktest.testtemplate.node.CodeCase">&ltcode><br/></a>
