<h2>宏测试</h2>
<lib name='jquery' />
<a href=href="?c=org.opencomb.frameworktest.testtemplate.macro.CycleMacroCase">{=$sCycle}<br/></a>
<a href=href="?c=org.opencomb.frameworktest.testtemplate.macro.EvalMacroCase">{=$sEval}<br/></a>
<a href=href="?c=org.opencomb.frameworktest.testtemplate.macro.PathMacroCase">{=$sPath}<br/></a>
<a href=href="?c=org.opencomb.frameworktest.testtemplate.macro.PlatFormPathMacroCase">{=$sPlatPath}<br/></a>
<a href=href="?c=org.opencomb.frameworktest.testtemplate.macro.PrintMacroCase">{=$sPrint}<br/></a>
